  <div class="detail">
    <img src="<%= pokemon.get("image_url") %>">
    <br>Name: <%= pokemon.get("name") %><br>
    <p>attack: <%= pokemon.get("attack") %></p>
    <p>defense: <%= pokemon.get("defense") %></p>
    <p>moves: <%= pokemon.get("moves") %></p>
    <p>poke_type: <%= pokemon.get("poke_type") %></p>
  </div>
  <p>Toys: </p>
  <ul class="toys">
  </ul>
