<div class="detail">
  <img src="<%= toy.get("image_url") %>">
  <br>
  Name: <%= toy.get("name") %>
  <br>
  Happiness: <%= toy.get("happiness") %>
  <br>
  Price: <%= toy.get("price") %>
  <% if (typeof pokes !== "undefined") { %>
  <select>
    <% pokes.each(function(pokemon){ %>
      <option id="<%= pokemon.get("id") %>"
        <% if(pokemon.get("id") === toy.get("pokemon_id")){ %>
          <%= "selected" %>
        <% } %>
      >
        <%= pokemon.get("name") %>
      </option>
    <% }); %>
  </select>
  <% } %>
</div>
